@using X.PagedList;
@using X.PagedList.Mvc.Common;
@using X.PagedList.Mvc.Core;

@model IPagedList<ResultBannerDto>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Areas/Admin/Views/AdminLayout/Index.cshtml";
}

<div class="page-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-xl-12">
                <div class="card">
                    <div class="card-body">
                        <h4 class="card-title">Anasayfa Banner Alanı</h4>
                        <p class="card-subtitle mb-4">
                            Anasayfa Banner Alanı içeriğini buradan güncelleyebilirsiniz.
                        </p>
                        <div class="table-responsive">
                            <table class="table mb-0">
                                <thead>
                                    <tr>
                                        <th>Başlık</th>
                                        <th>Açıklama</th>
                                        <th>Video URL</th>
                                        <th>Video Açıklama</th>
                                        <th>Sil</th>
                                        <th>Güncelle</th>
                                        <th>Youtube'da Aç'</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var item in Model)
                                    {
                                        <tr>
                                            <td>@item.Title</td>
                                            <td>@item.Description</td>
                                            <td>@item.VideoUrl</td>
                                            <td>@item.VideoDescription</td>
                                            <td><a href="/Admin/AdminBanner/RemoveBanner/@item.BannerId" class="btn btn-outline-danger">Sil</a></td>
                                            <td><a href="/Admin/AdminBanner/UpdateBanner/@item.BannerId" class="btn btn-outline-success">Güncelle</a></td>
                                            <td><a href="/Admin/AdminBanner/UpdateBanner/@item.BannerId" class="btn btn-outline-dark">Youtube'da Aç</a></td>
                                        </tr>
                                    }
                                </tbody>
                            </table>
                            <a href="/Admin/AdminBanner/CreateBanner/" class="btn btn-outline-primary">Yeni Banner Girişi</a>
                            <div class="d-flex justify-content-center">
                                @Html.PagedListPager((IPagedList)Model, page => Url.Action("Index",new{page}),
                                new PagedListRenderOptionsBase{LiElementClasses = new string[] { "page-item" },PageClasses = new string[] { "page-link" },Display = PagedListDisplayMode.IfNeeded})
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>