@{
    ViewData["Title"] = "Index";
    Layout = "~/Areas/Admin/Views/AdminLayout/Index.cshtml";
}

<div class="page-content">
    <div class="container-fluid">
        <!-- start page title1 -->
        <div class="row">
            <div class="col-md-6 col-xl-3">
                <div class="card bg-primary border-primary">
                    <div class="card-body">
                        <div class="mb-4">
                            <span class="badge badge-soft-light float-right">Aktif Araçlar</span>
                            <h5 class="card-title mb-0 text-white">Toplam Araç Sayısı</h5>
                        </div>
                        <div class="row d-flex align-items-center mb-4">
                            <div class="col-9">
                                <h2 class="d-flex align-items-center mb-0 text-white">
                                   # @ViewBag.CarCount
                                </h2>
                            </div>
                            <div class="col-3 text-right">
                                <span class="text-white-50">@ViewBag.RandomCount <i class="mdi mdi-arrow-up"></i></span>
                            </div>
                        </div>

                        <div class="progress badge-soft-light shadow-sm" style="height: 5px;">
                            <div class="progress-bar bg-light" role="progressbar" style="width: @ViewBag.RandomCount%;"></div>
                        </div>
                    </div>
                </div>
            </div> <!-- end col-->

            <div class="col-md-6 col-xl-3">
                <div class="card bg-success border-success">
                    <div class="card-body">
                        <div class="mb-4">
                            <span class="badge badge-soft-light float-right">Mevcut Lokasyonlar</span>
                            <h5 class="card-title mb-0 text-white">Lokasyon Sayısı</h5>
                        </div>
                        <div class="row d-flex align-items-center mb-4">
                            <div class="col-9">
                                <h2 class="d-flex align-items-center text-white mb-0">
                                    # @ViewBag.LocationCount
                                </h2>
                            </div>
                            <div class="col-3 text-right">
                                <span class="text-white-50">@ViewBag.LocationCountRandom <i class="mdi mdi-arrow-down"></i></span>
                            </div>
                        </div>

                        <div class="progress badge-soft-light shadow-sm" style="height: 7px;">
                            <div class="progress-bar bg-light" role="progressbar" style="width: @ViewBag.LocationCountRandom%;"></div>
                        </div>
                    </div>
                </div>
            </div> <!-- end col-->

            <div class="col-md-6 col-xl-3">
                <div class="card bg-warning border-warning">
                    <div class="card-body">
                        <div class="mb-4">
                            <span class="badge badge-soft-light float-right">Yazar - Personel Sayısı</span>
                            <h5 class="card-title mb-0 text-white">Toplam Personel</h5>
                        </div>
                        <div class="row d-flex align-items-center mb-4">
                            <div class="col-9">
                                <h2 class="d-flex align-items-center text-white mb-0">
                                    # @ViewBag.AuthorCount
                                </h2>
                            </div>
                            <div class="col-3 text-right">
                                <span class="text-white-50">@ViewBag.AuthorCountRandom% <i class="mdi mdi-arrow-up"></i></span>
                            </div>
                        </div>

                        <div class="progress badge-soft-light shadow-sm" style="height: 7px;">
                            <div class="progress-bar bg-light" role="progressbar" style="width: @ViewBag.AuthorCountRandom%;"></div>
                        </div>
                    </div>
                </div>
            </div> <!-- end col-->

            <div class="col-md-6 col-xl-3">
                <div class="card bg-info border-info">
                    <div class="card-body">
                        <div class="mb-4">
                            <span class="badge badge-soft-light float-right">Tüm Zamanlar</span>
                            <h5 class="card-title mb-0 text-white">Toplam Blog Sayısı</h5>
                        </div>
                        <div class="row d-flex align-items-center mb-4">
                            <div class="col-9">
                                <h2 class="d-flex align-items-center text-white mb-0">
                                    # @ViewBag.BlogCount
                                </h2>
                            </div>
                            <div class="col-3 text-right">
                                <span class="text-white-50">@ViewBag.BlogCountRandom% <i class="mdi mdi-arrow-down"></i></span>
                            </div>
                        </div>

                        <div class="progress badge-soft-light shadow-sm" style="height: 7px;">
                            <div class="progress-bar bg-light" role="progressbar" style="width: @ViewBag.BlogCountRandom%;"></div>
                        </div>
                    </div>
                </div>
            </div> <!-- end col-->
        </div>
        <!-- end page title1 -->

        <!-- start page title2 -->
        <div class="row">
            <div class="col-md-6 col-xl-3">
                <div class="card bg-primary border-primary">
                    <div class="card-body">
                        <div class="mb-4">
                            <span class="badge badge-soft-light float-right">Aktif Markalar</span>
                            <h5 class="card-title mb-0 text-white">Toplam Marka Sayısı</h5>
                        </div>
                        <div class="row d-flex align-items-center mb-4">
                            <div class="col-9">
                                <h2 class="d-flex align-items-center mb-0 text-white">
                                    # @ViewBag.BrandCount
                                </h2>
                            </div>
                            <div class="col-3 text-right">
                                <span class="text-white-50">@ViewBag.BrandCountRandom % <i class="mdi mdi-arrow-up"></i></span>
                            </div>
                        </div>

                        <div class="progress badge-soft-light shadow-sm" style="height: 5px;">
                            <div class="progress-bar bg-light" role="progressbar" style="width: @ViewBag.BrandCountRandom%;"></div>
                        </div>
                    </div>
                </div>
            </div> <!-- end col-->

            <div class="col-md-6 col-xl-3">
                <div class="card bg-success border-success">
                    <div class="card-body">
                        <div class="mb-4">
                            <span class="badge badge-soft-light float-right">Günlük</span>
                            <h5 class="card-title mb-0 text-white">Ortalama Fiyat</h5>
                        </div>
                        <div class="row d-flex align-items-center mb-4">
                            <div class="col-9">
                                <h2 class="d-flex align-items-center text-white mb-0">
                                    # @ViewBag.AvgRentPrizeForDaily ₺
                                </h2>
                            </div>
                            <div class="col-3 text-right">
                                <span class="text-white-50">@ViewBag.AvgRentPrizeForDailyRandom % <i class="mdi mdi-arrow-down"></i></span>
                            </div>
                        </div>

                        <div class="progress badge-soft-light shadow-sm" style="height: 7px;">
                            <div class="progress-bar bg-light" role="progressbar" style="width: @ViewBag.AvgRentPrizeForDailyRandom%;"></div>
                        </div>
                    </div>
                </div>
            </div> <!-- end col-->

            <div class="col-md-6 col-xl-3">
                <div class="card bg-warning border-warning">
                    <div class="card-body">
                        <div class="mb-4">
                            <span class="badge badge-soft-light float-right">Haftalık</span>
                            <h5 class="card-title mb-0 text-white">Ortalama Fiyat</h5>
                        </div>
                        <div class="row d-flex align-items-center mb-4">
                            <div class="col-9">
                                <h2 class="d-flex align-items-center text-white mb-0">
                                    # @ViewBag.AvgRentPrizeForWeekly ₺
                                </h2>
                            </div>
                            <div class="col-3 text-right">
                                <span class="text-white-50">@ViewBag.AvgRentPrizeForWeeklyRandom % <i class="mdi mdi-arrow-up"></i></span>
                            </div>
                        </div>

                        <div class="progress badge-soft-light shadow-sm" style="height: 7px;">
                            <div class="progress-bar bg-light" role="progressbar" style="width: @ViewBag.AvgRentPrizeForWeeklyRandom%;"></div>
                        </div>
                    </div>
                </div>
            </div> <!-- end col-->

            <div class="col-md-6 col-xl-3">
                <div class="card bg-info border-info">
                    <div class="card-body">
                        <div class="mb-4">
                            <span class="badge badge-soft-light float-right">Aylık</span>
                            <h5 class="card-title mb-0 text-white">Ortalama Fiyat</h5>
                        </div>
                        <div class="row d-flex align-items-center mb-4">
                            <div class="col-9">
                                <h2 class="d-flex align-items-center text-white mb-0">
                                    # @ViewBag.AvgRentPrizeForMonthly ₺
                                </h2>
                            </div>
                            <div class="col-3 text-right">
                                <span class="text-white-50">@ViewBag.AvgRentPrizeForMonthlyRandom % <i class="mdi mdi-arrow-up"></i></span>
                            </div>
                        </div>

                        <div class="progress badge-soft-light shadow-sm" style="height: 7px;">
                            <div class="progress-bar bg-light" role="progressbar" style="width: @ViewBag.AvgRentPrizeForMonthlyRandom%;"></div>
                        </div>
                    </div>
                </div>
            </div> <!-- end col-->
        </div>
        <!-- end page title2 -->

        <!-- start page title3 -->
        <div class="row">
            <div class="col-md-6 col-xl-3">
                <div class="card bg-primary border-primary">
                    <div class="card-body">
                        <div class="mb-4">
                            <span class="badge badge-soft-light float-right">Aktif</span>
                            <h5 class="card-title mb-0 text-white">Otomatik Araç Sayısı</h5>
                        </div>
                        <div class="row d-flex align-items-center mb-4">
                            <div class="col-9">
                                <h2 class="d-flex align-items-center mb-0 text-white">
                                    # @ViewBag.carCountByTransmissionIsAuto
                                </h2>
                            </div>
                            <div class="col-3 text-right">
                                <span class="text-white-50">@ViewBag.carCountByTransmissionIsAutoRandom % <i class="mdi mdi-arrow-up"></i></span>
                            </div>
                        </div>

                        <div class="progress badge-soft-light shadow-sm" style="height: 5px;">
                            <div class="progress-bar bg-light" role="progressbar" style="width: @ViewBag.carCountByTransmissionIsAutoRandom%;"></div>
                        </div>
                    </div>
                </div>
            </div> <!-- end col-->

            <div class="col-md-6 col-xl-3">
                <div class="card bg-success border-success">
                    <div class="card-body">
                        <div class="mb-4">
                            <span class="badge badge-soft-light float-right">Best Car</span>
                            <h5 class="card-title mb-0 text-white">En Fazla Araca Sahip Marka</h5>
                        </div>
                        <div class="row d-flex align-items-center mb-4">
                            <div class="col-9">
                                <h2 class="d-flex align-items-center text-white mb-0">
                                   # @ViewBag.brandNameByMaxCar
                                </h2>
                            </div>
                            <div class="col-3 text-right">
                                <span class="text-white-50">@ViewBag.brandNameByMaxCarRandom % <i class="mdi mdi-arrow-down"></i></span>
                            </div>
                        </div>

                        <div class="progress badge-soft-light shadow-sm" style="height: 7px;">
                            <div class="progress-bar bg-light" role="progressbar" style="width: @ViewBag.brandNameByMaxCarRandom%;"></div>
                        </div>
                    </div>
                </div>
            </div> <!-- end col dönülecek-->

            <div class="col-md-6 col-xl-3">
                <div class="card bg-warning border-warning">
                    <div class="card-body">
                        <div class="mb-4">
                            <span class="badge badge-soft-light float-right">En Fazla Yorum alan Blog</span>
                            <h5 class="card-title mb-0 text-white">En İyi Blog</h5>
                        </div>
                        <div class="row d-flex align-items-center mb-4">
                            <div class="col-9">
                                <h2 class="d-flex align-items-center text-white mb-0">
                                    # @ViewBag.blogTitleByMaxComment
                                </h2>
                            </div>
                            <div class="col-3 text-right">
                                <span class="text-white-50">@ViewBag.blogTitleByMaxCommentRandom % <i class="mdi mdi-arrow-up"></i></span>
                            </div>
                        </div>

                        <div class="progress badge-soft-light shadow-sm" style="height: 7px;">
                            <div class="progress-bar bg-light" role="progressbar" style="width: @ViewBag.blogTitleByMaxCommentRandom%;"></div>
                        </div>
                    </div>
                </div>
            </div> <!-- end col dönülecek-->

            <div class="col-md-6 col-xl-3">
                <div class="card bg-info border-info">
                    <div class="card-body">
                        <div class="mb-4">
                            <span class="badge badge-soft-light float-right">Az Kullanılan</span>
                            <h5 class="card-title mb-0 text-white">1000KM Altındaki Araç Sayısı</h5>
                        </div>
                        <div class="row d-flex align-items-center mb-4">
                            <div class="col-9">
                                <h2 class="d-flex align-items-center text-white mb-0">
                                   # @ViewBag.carCountBySmallerThan1000
                                </h2>
                            </div>
                            <div class="col-3 text-right">
                                <span class="text-white-50">@ViewBag.carCountBySmallerThan1000Random % <i class="mdi mdi-arrow-down"></i></span>
                            </div>
                        </div>

                        <div class="progress badge-soft-light shadow-sm" style="height: 7px;">
                            <div class="progress-bar bg-light" role="progressbar" style="width: @ViewBag.carCountBySmallerThan1000Random%;"></div>
                        </div>
                    </div>
                </div>
            </div> <!-- end col-->
        </div>
        <!-- end page title3 -->

        <!-- start page title4 -->
        <div class="row">
            <div class="col-md-6 col-xl-3">
                <div class="card bg-primary border-primary">
                    <div class="card-body">
                        <div class="mb-4">
                            <span class="badge badge-soft-light float-right">Araç Sayısı</span>
                            <h5 class="card-title mb-0 text-white">Benzin Yada Dizel</h5>
                        </div>
                        <div class="row d-flex align-items-center mb-4">
                            <div class="col-9">
                                <h2 class="d-flex align-items-center mb-0 text-white">
                                    # @ViewBag.carCountByFuelGasolineOrDiesel
                                </h2>
                            </div>
                            <div class="col-3 text-right">
                                <span class="text-white-50">@ViewBag.carCountByFuelGasolineOrDiesel % <i class="mdi mdi-arrow-up"></i></span>
                            </div>
                        </div>

                        <div class="progress badge-soft-light shadow-sm" style="height: 5px;">
                            <div class="progress-bar bg-light" role="progressbar" style="width: @ViewBag.carCountByFuelGasolineOrDiesel%;"></div>
                        </div>
                    </div>
                </div>
            </div> <!-- end col-->

            <div class="col-md-6 col-xl-3">
                <div class="card bg-success border-success">
                    <div class="card-body">
                        <div class="mb-4">
                            <span class="badge badge-soft-light float-right">Yakıt Türü</span>
                            <h5 class="card-title mb-0 text-white">Elektrikli Araç Sayısı</h5>
                        </div>
                        <div class="row d-flex align-items-center mb-4">
                            <div class="col-9">
                                <h2 class="d-flex align-items-center text-white mb-0">
                                    # @ViewBag.carCountByFuelElectric
                                </h2>
                            </div>
                            <div class="col-3 text-right">
                                <span class="text-white-50">@ViewBag.carCountByFuelElectricRandom % <i class="mdi mdi-arrow-down"></i></span>
                            </div>
                        </div>

                        <div class="progress badge-soft-light shadow-sm" style="height: 7px;">
                            <div class="progress-bar bg-light" role="progressbar" style="width: @ViewBag.carCountByFuelElectricRandom%;"></div>
                        </div>
                    </div>
                </div>
            </div> <!-- end col-->

            <div class="col-md-6 col-xl-3">
                <div class="card bg-warning border-warning">
                    <div class="card-body">
                        <div class="mb-4">
                            <span class="badge badge-soft-light float-right">Günlük Kiralama Fiyatı</span>
                            <h5 class="card-title mb-0 text-white">En Pahalı Araç</h5>
                        </div>
                        <div class="row d-flex align-items-center mb-4">
                            <div class="col-9">
                                <h2 class="d-flex align-items-center text-white mb-0">
                                    # @ViewBag.CarBrandAndModelByRentPriceDailyMax
                                </h2>
                            </div>
                            <div class="col-3 text-right">
                                <span class="text-white-50">@ViewBag.CarBrandAndModelByRentPriceDailyMaxRandom % <i class="mdi mdi-arrow-up"></i></span>
                            </div>
                        </div>

                        <div class="progress badge-soft-light shadow-sm" style="height: 7px;">
                            <div class="progress-bar bg-light" role="progressbar" style="width: @ViewBag.CarBrandAndModelByRentPriceDailyMaxRandom%;"></div>
                        </div>
                    </div>
                </div>
            </div> <!-- end col-->

            <div class="col-md-6 col-xl-3">
                <div class="card bg-info border-info">
                    <div class="card-body">
                        <div class="mb-4">
                            <span class="badge badge-soft-light float-right">Günlük Kiralama Fiyatı</span>
                            <h5 class="card-title mb-0 text-white">En Ucuz</h5>
                        </div>
                        <div class="row d-flex align-items-center mb-4">
                            <div class="col-9">
                                <h2 class="d-flex align-items-center text-white mb-0">
                                  #  @ViewBag.CarBrandAndModelByRentPriceDailyMin
                                </h2>
                            </div>
                            <div class="col-3 text-right">
                                <span class="text-white-50">@ViewBag.CarBrandAndModelByRentPriceDailyMinRandom % <i class="mdi mdi-arrow-down"></i></span>
                            </div>
                        </div>

                        <div class="progress badge-soft-light shadow-sm" style="height: 7px;">
                            <div class="progress-bar bg-light" role="progressbar" style="width: @ViewBag.CarBrandAndModelByRentPriceDailyMinRandom%;"></div>
                        </div>
                    </div>
                </div>
            </div> <!-- end col-->
        </div>
        <!-- end page title4 -->
    </div>
</div>

