@model List<ResultTestimonialDto>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/AdminLayout/Index.cshtml";
}

<div class="page-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-xl-12">
                <div class="card">
                    <div class="card-body">
                        <h4 class="card-title">Anasayfa Referanslar Listesi</h4>
                        <p class="card-subtitle mb-4">
                            Müşterilerin yorumları bu sayfadan düzenlenir.
                        </p>
                        <div class="table-responsive">
                            <table class="table mb-0">
                                <thead>
                                    <tr>
                                        <th>#</th>
                                        <th>Ad Soyad</th>
                                        <th>Başlık</th>
                                        <th>Yorum</th>
                                        <th>Sil</th>
                                        <th>Güncelle</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @{
                                        var count = 0;
                                    }
                                    @foreach (var item in Model)
                                    {
                                        count++;
                                        <tr>
                                            <th scope="row">@count</th>
                                            <td><img src="@item.imageUrl" style="max-width: 50px; margin-right: 10px;" />@item.name</td>
                                            <td>@item.title</td>
                                            <td>@item.comment</td>
                                            <td><a href="/Admin/AdminTestimonial/RemoveTestimonial/@item.testimonialID" class="btn btn-outline-danger">Sil</a></td>
                                            <td><a href="/Admin/AdminTestimonial/UpdateTestimonial/@item.testimonialID" class="btn btn-outline-success">Güncelle</a></td>
                                        </tr>
                                    }
                                </tbody>
                            </table>
                            <a href="/Admin/AdminTestimonial/CreateTestimonial/" class="btn btn-outline-primary">Yeni Referans Girişi</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


