<div class="row">
    <div class="col-md-6 col-xl-3">
        <div class="card bg-primary border-primary">
            <div class="card-body">
                <div class="mb-4">
                    <span class="badge badge-soft-light float-right">Aktif Araçlar</span>
                    <h5 class="card-title mb-0 text-white">Cost per Toplam Araç Sayısı</h5>
                </div>
                <div class="row d-flex align-items-center mb-4">
                    <div class="col-8">
                        <h2 class="d-flex align-items-center mb-0 text-white">
                            # @ViewBag.CarCount
                        </h2>
                    </div>
                    <div class="col-4 text-right">
                        <span class="text-white-50">@ViewBag.CarCountRandom % <i class="mdi mdi-arrow-up"></i></span>
                    </div>
                </div>

                <div class="progress badge-soft-light shadow-sm" style="height: 5px;">
                    <div class="progress-bar bg-light" role="progressbar" style="width: @ViewBag.CarCountRandom%;"></div>
                </div>
            </div>
        </div>
    </div> <!-- end col-->

    <div class="col-md-6 col-xl-3">
        <div class="card bg-success border-success">
            <div class="card-body">
                <div class="mb-4">
                    <span class="badge badge-soft-light float-right">Mevcut Lokasyonlar</span>
                    <h5 class="card-title mb-0 text-white">Lokasyon Sayısı</h5>
                </div>
                <div class="row d-flex align-items-center mb-4">
                    <div class="col-8">
                        <h2 class="d-flex align-items-center text-white mb-0">
                            # @ViewBag.LocationCount
                        </h2>
                    </div>
                    <div class="col-4 text-right">
                        <span class="text-white-50">@ViewBag.LocationCountRandom % <i class="mdi mdi-arrow-down"></i></span>
                    </div>
                </div>

                <div class="progress badge-soft-light shadow-sm" style="height: 7px;">
                    <div class="progress-bar bg-light" role="progressbar" style="width: @ViewBag.LocationCountRandom%;"></div>
                </div>
            </div>
        </div>
    </div> <!-- end col-->

    <div class="col-md-6 col-xl-3">
        <div class="card bg-warning border-warning">
            <div class="card-body">
                <div class="mb-4">
                    <span class="badge badge-soft-light float-right">Aktif Markalar</span>
                    <h5 class="card-title mb-0 text-white">Toplam Marka Sayısı</h5>
                </div>
                <div class="row d-flex align-items-center mb-4">
                    <div class="col-8">
                        <h2 class="d-flex align-items-center text-white mb-0">
                            # @ViewBag.BrandCount
                        </h2>
                    </div>
                    <div class="col-4 text-right">
                        <span class="text-white-50">@ViewBag.BrandCountRandom % <i class="mdi mdi-arrow-up"></i></span>
                    </div>
                </div>

                <div class="progress badge-soft-light shadow-sm" style="height: 7px;">
                    <div class="progress-bar bg-light" role="progressbar" style="width: @ViewBag.BrandCountRandom%;"></div>
                </div>
            </div>
        </div>
    </div> <!-- end col-->

    <div class="col-md-6 col-xl-3">
        <div class="card bg-info border-info">
            <div class="card-body">
                <div class="mb-4">
                    <span class="badge badge-soft-light float-right">Günlük</span>
                    <h5 class="card-title mb-0 text-white">Ortalama Fiyat</h5>
                </div>
                <div class="row d-flex align-items-center mb-4">
                    <div class="col-8">
                        <h2 class="d-flex align-items-center text-white mb-0">
                            ₺ @ViewBag.AvgRentPrizeForDaily
                        </h2>
                    </div>
                    <div class="col-4 text-right">
                        <span class="text-white-50">@ViewBag.AvgRentPrizeForDailyRandom % <i class="mdi mdi-arrow-down"></i></span>
                    </div>
                </div>

                <div class="progress badge-soft-light shadow-sm" style="height: 7px;">
                    <div class="progress-bar bg-light" role="progressbar" style="width: @ViewBag.AvgRentPrizeForDailyRandom%;"></div>
                </div>
            </div>
        </div>
    </div> <!-- end col-->
</div>